.grupo.total-replace.slider
	=image_tag(image_path('slider.jpg'));
	
.total-replace
.grupo.blue-green.space
	.caja.centro-contenido
		%h1
			For each student who takes one hour of English classes with us, we volunteer one hour of our time to help three kids in need or more

.grupo.space
	.caja.total-replace.centro-contenido
		%h2
			What is the concept of the company ?
	.caja.total-replace.centro-contenido
		%p
			Our mission here at IPMEP is to not only provide our students with quality English classes conducted by well-qualified and experienced language teachers whose native tongue is English, but also to volunteer our time in helping kids in public schools preferably in low-income or at-risk communities here in Peru.  
			%b
				For each student who takes one hour of English classes with us, we volunteer one hour of our time to help three kids in need or more.  
			Our short-term goal is to raise the number of kids we can reach to five or more per one student that we teach English to.  Our long-term goal is to continue raising the number of kids we can reach out to.  Eventually, well, the sky is the limit.

.total-replace
.grupo.space.red
	.caja.web-50
		%h2
			How do we help these kids ?
		%p
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquieap ex commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	.caja.web-50.medio
		=image_tag(image_path('slider.jpg'));


.grupo.space
	.caja.web-50
		=image_tag(image_path('slider.jpg'));
		
	.caja.web-50.medio
		%h2
			What do the talks consist of ?
		%p
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquieap ex commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

.grupo
	.caja.total-replace.normal
		%h1
			Normal
	.caja.web-50.invert
		%h1
			invert
	.caja.web-50.complement
		%h1
			complement

#contactenos.grupo
	.caja